doctype html
.col-md-12
  button.btn.btn-success.pull-left(
    ng-click = " returnProfile() ")
    .glyphicon.glyphicon-chevron-left &nbsp Regresar al perfil
.col-md-12(ng-show = 'questionView')
  .col-md-6
    h1(ng-bind = 'event.name')
    .super-text
      timer(countdown='lu', max-time-unit='"day"', interval='1000') {{ddays}}:{{hhours}}:{{mminutes}}:{{sseconds}}
      br
      .col-md-1
        .supertext $ &nbsp
      .col-md-11
        .supertext(ng-bind =  'event.jackpot')
        br
      button.btn.btn-primary.btn-lg( ng-click = 'enrollInEvent( event.name )' )¡Participar!
  .col-md-6
    .col-md-6.center.text-center
      h2 Gladiadores
      label Ardroz
      hr
      label Alevardi
      hr
      label Dan
.col-md-12(ng-hide = 'questionView')
  button.btn.btn-success.pull-right(
    ng-click = " questionView = !questionView ") Información Batalla
  p.clearfix
  form( name = 'Questions' )
  .col-md-5
    .form-group
      .form-label Nueva Pregunta:
      textarea.form-control(
        ng-model = 'question.question'
      )
  .col-md-5
    .form-group
      .form-label Escribe las posibles respuestas y selecciona la respuesta correcta:
      .input-group.col-sm-12
        span.input-group-addon
          input(
            type='radio'
            ng-model = 'question.answer'
            value = '0'
            name = 'Question' )
        input.form-control(
          ng-model = 'question.alternatives[0]'
          type='text' )
      .input-group.col-sm-12
        span.input-group-addon
          input(
            type='radio'
            ng-model = 'question.answer'
            value = '1'
            name = 'Question' )
        input.form-control(
          ng-model = 'question.alternatives[1]'
          type='text' )
      .input-group.col-sm-12
        span.input-group-addon
          input(
            type='radio'
            ng-model = 'question.answer'
            value = '2'
            name = 'Question' )
        input.form-control(
          ng-model = 'question.alternatives[2]'
          type='text' )
      .input-group.col-sm-12
        span.input-group-addon
          input(
            type='radio'
            ng-model = 'question.answer'
            value = '3'
            name = 'Question' )
        input.form-control(
          ng-model = 'question.alternatives[3]'
          type='text' )
      button.btn.btn-success.pull-right(
        ng-click = 'saveQuestion()') Guardar pregunta
        br

button.btn.btn-success.pull-right(
  ng-click = " questionView = !questionView "
  ng-show = 'questionView') Prepar Armas
  br
